streamlit
pandas
numpy
pillow
opencv-python
pytesseract
pymupdf
azure-ai-formrecognizer
azure-core
langchain
sentence-transformers
faiss-cpu
litellm
plotly
transformers
torch
torchvision
huggingface-hub
tiktoken
requests

litellm
# langchain-community>=0.0.10

beautifulsoup4
lxml
openpyxl
python-multipart
aiofiles
langchain-community
